<div class="field">
  <label>{{label}}</label>
  <input *ngIf="controlType === 'input'" [type]="inputType" [formControl]="control" />
  <textarea *ngIf="controlType === 'textarea'" [formControl]="control"></textarea>
  <div *ngIf="showErrors()" class="ui pointing red basic label">
    <p *ngIf="control.errors.required">
      Value is Required
    </p>
    <p *ngIf="control.errors.email">
      Enter a Valid Email
    </p>
    <p *ngIf="control.errors.minlength">
      Value you entered is {{control.errors.minlength.atualLength}}
      characters long but it must be atleast
      {{control.errors.minlength.requiredLength}} characters
    </p>
    <p *ngIf="control.errors.maxlength">
      Value you entered is {{control.errors.maxlength.atualLength}}
      characters long but it cannot be longer than
      {{control.errors.maxlength.requiredLength}} characters
    </p>
    <p *ngIf="control.errors.pattern">
      Invalid Format
    </p>
    <p *ngIf="control.errors.nonUniqueUserName">
      Username already exists
    </p>
    <p *ngIf="control.errors.noConnection">
      Please check your connection
    </p>

  </div>

</div>
